<div class="event">
  <div class="content">
    <div class="date">
      3 days ago
    </div>
     <div class="summary">
       <em><%= message.user.username %></em>: <%= message.message %>.
     </div>
   </div>
 </div>
