<h2 class="right ui center aligned medium icon header">
  <i class="inverted red snapchat icon"></i>
  <div class="content">
    Azoz chat
    <div class="sub header">here is a place where you discuess arguments</div>
  </div>
</h2>
<div class="ui grid">
  <div class="sixteen wide column"></div>
  <div class="ten wide column">
    <div class="ui fluid raised card chatbox ">
       <div class="content">
        <div class="ui large feed">
        <div class="event">
          <div class="content">
            <div class="date">
              3 days ago
            </div>
            <div class="summary">
               <em>Jenny Hess</em>: message.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="extra content">
      <div class="ui fluid icon input">
        <input type="text" placeholder="Add Comment...">
        <button class="ui teal right labeled icon button">
            <i class="edit icon"></i>
            shoot
        </button>
      </div>
    </div>
  </div>
</div>
  <div class="six wide column">
    <div class="ui cards ">
      <div class="card fluid chatbox">
        <div class="content">

  <table class="ui very basic collapsing celled table">
    <thead>
        <tr><th>Employee</th>
        </tr>
      </thead>
  <tbody>
    <tr>
      <td>
          <div class="content">
            <h4>Lena</h4>
        </div>
      </td>
    </tr>
  </tbody>
  </table>
      </div>
    </div>
  </div>
 </div>
</div>
