
<div class="ui fluid container">
    <div class="ui small inverted menu">
      <a class="item">
        home
      </a>
      <a class="item">
        Settings
      </a>
      <div class="right menu">
        <div class="ui simple dropdown item">
          Categories <i class="dropdown icon"></i>
          <div class="menu">
            <a class="item">English</a>
            <a class="item">Russian</a>
            <a class="item">Spanish</a>
          </div>
        </div>
        <div class="item">
          <% if logged_in %>
            <%= link_to 'logout', logout_path, method: :delete , class: "ui primary button", data: {confirm:'are you sure?'} %>
            <% else %>
            <%= link_to 'signup up', login_path, class: "ui primary button" %>
              <%end%>
        </div>
      </div>
    </div>
  </div>
